<mat-grid-list cols="10" rowHeight="50px" gutterSize="0.05px" >
    <mat-grid-tile colspan="4" rowspan="3"style="background-color: #1c1c1c" class="sombrita" >
        
        <img src="assets/image/logo empresa.png" width="145" height="140" class="ajustelogo">
        <p class="textlogo">ShadowGear</p>
        
    </mat-grid-tile>
    

    <mat-grid-tile colspan="6" rowspan="3" style="text-align: left" style="background-color: #1c1c1c" class="lol">
        <div class="ajustebtn">
            <button mat-button (click)="ChangeZero()" >inicio</button>
            <button mat-button (click)="ChangeSecond()">quienes somos</button>
            <button mat-button [matMenuTriggerFor]="menu" (click)="ChangeTercero()" style="background-color: ch;">productos</button>
                <mat-menu #menu="matMenu" style="background-color: chartreuse;">
                    <!-- <link rel="stylesheet" href="./inicio/botones.scss"> -->
                    <button mat-menu-item (click)="ChangeP2()" class="btn btn--1"> item 1 </button>
                    <button mat-menu-item (click)="ChangeP3()" class="btn btn--2"> item 2 </button>
                    <button mat-menu-item (click)="ChangeP4()" class="btn btn--3"> item 3 </button>
                    <button mat-menu-item (click)="ChangeP5()" class="btn btn--4"> item 4 </button>
                    <button mat-menu-item (click)="ChangeP6()" class="btn btn--1"> item 5 </button>
                    <button mat-menu-item (click)="ChangeP7()" class="btn btn--2"> item 6 </button>
                </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu2" (click)="ChangeCuarto()">servicios</button>
                <mat-menu #menu2="matMenu">
                    <button mat-menu-item (click)="ChangeS1()" class="submenu"> item 1 </button>
                    <button mat-menu-item (click)="ChangeS2()" class="submenu"> item 2 </button>
                </mat-menu>
            <button mat-button (click)="ChangeQuinto()">contactenos</button>
        </div>
    </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="12" class="fondito">
            
            <div>
                <div class="parrafoinicio" *ngIf="(Status!=2) && (Status!=3) && (Status!=4) && (Status!=5) && (Status!=6)
                && (Status!=7) && (Status!=8) && (Status!=9) && (Status!=10) && (Status!=11) && (Status!=12)">
                    <td>
                        <div class="slider">
                            <ul>
                                <li><img src="assets/image/1.jpg" alt=""></li>
                                <li><img src="assets/image/2.jpg" alt=""></li>
                                <li><img src="assets/image/3.jpg" alt=""></li>
                                <li><img src="assets/image/4.jpg" alt=""></li>
                            </ul>
                        </div>
                    </td>
                </div>
            </div>
            <div  *ngIf="Status==2">
                    <app-quienes-somos style="background: cyan;"></app-quienes-somos>
            </div>
            <div *ngIf="Status==3">
                <app-productos [StatusProduct]=StatusProduct></app-productos>
            </div>
            <div *ngIf="Status==4">
                <app-servicios [StatusService]=StatusService></app-servicios>
            </div>
            <div *ngIf="Status==5">
                <app-contactenos></app-contactenos>
            </div>
            
            
            
        </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="5" class="barra1">
        <img src="assets/image/ubicacion.png" width="100" height="100" class="ubicacion">
        <p class="ubi1" style="text-align: center;"> Bogota D.C , Colombia</p>
        <p class="ubi2" style="text-align: center;"> Direccion: Cr 6b este #49 26 sur </p>


    </mat-grid-tile>
    
    <mat-grid-tile colspan="4" rowspan="5" class="pruebacolor" >
        <img src="assets/image/celular.png" width="100" height="100" style="position: absolute; top: 50px;">
        <p class="cel1" style="text-align: center;"style="position: absolute; top: 160px;"> Cel: 3043296723 </p>
        <p class="cel2" style="text-align: center;" style="position: absolute; top: 180px;"> Cel: 3193336236 </p>
 
        <DIV class="text-inside-grid">
            <td>
                <p>Descubra cuál es la solución de informatica adecuada para usted</p>
            </td>
        </DIV>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="5" class="barra2">
        <img src="assets/image/chat.png" width="100" height="100" class="celular">
        <p class="chat1" style="text-align: center;"> ventas@shadowgear.com </p>
        <p class="chat2" style="text-align: center;"> comercial@shadowgear.com </p>


    </mat-grid-tile>
    
</mat-grid-list>
