mat-toolbar {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 174, 0) ;
  }

.textlogo{
    font-size: 50px;
    color: #c90000;
    font-family: fantasy;
    position: absolute;
    left: 150px;
    top: 60px;
}


.navbar {
    justify-content: space-between;
}  

mat-button-toggle{
    
    padding-right: 1rem;
}

.final {
    width: 100px;
    text-align: left;
    margin-left: 2rem;
    background: lightgreen;
}
.text-inside-grid{
   position: absolute;
   left: 70px;
   top: 10px;
   padding-right: 15px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #d80011;   
   font-size: 15px;
   text-align: center;
}
.colorsito{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #d80011;    

}

.parrafoinicio{
    
    height: 600px;
    width: 1000px;

}

.slider{
    /* align-content: center;
    align-items: center;
    align-self: center; */
    width: 1200px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 25px;
    right:60px;
    left:40px;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}



}

.fondito{
    width: 100%;
    background-image: url(../../../assets/image/imagendefondo.jpg);
}

.mat-tab-group {
    margin-bottom : 10px;
    width: 900px;
    height: 50px;
 }
 .pruebacolor{
    background-color: #1c1c1c;

 }
 .ajustelogo{
     position: absolute;
     left: 10px;
     
 }
 .ajustebtn{
    display: table-cell;
    font-size: 14px;
    margin-left: 5px;
    min-width: 100px;
    position: absolute;
    right: 10px;
    top: 110px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;

    background: rgba(255,73,41,1);
    background: -moz-linear-gradient(-45deg, rgba(255,73,41,1) 0%, rgba(255,100,77,1) 1%, rgba(255,30,0,1) 19%, rgba(255,39,10,1) 71%, rgba(255,35,15,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,73,41,1)), color-stop(1%, rgba(255,100,77,1)), color-stop(19%, rgba(255,30,0,1)), color-stop(71%, rgba(255,39,10,1)), color-stop(100%, rgba(255,35,15,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,73,41,1) 0%, rgba(255,100,77,1) 1%, rgba(255,30,0,1) 19%, rgba(255,39,10,1) 71%, rgba(255,35,15,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,73,41,1) 0%, rgba(255,100,77,1) 1%, rgba(255,30,0,1) 19%, rgba(255,39,10,1) 71%, rgba(255,35,15,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,73,41,1) 0%, rgba(255,100,77,1) 1%, rgba(255,30,0,1) 19%, rgba(255,39,10,1) 71%, rgba(255,35,15,1) 100%);
    background: linear-gradient(135deg, rgba(255,73,41,1) 0%, rgba(255,100,77,1) 1%, rgba(255,30,0,1) 19%, rgba(255,39,10,1) 71%, rgba(255,35,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4929', endColorstr='#ff230f', GradientType=1 );
 }
 
 .barra1{
    background-color: #1c1c1c;

  

 }

 .barra2{
    background-color: #1c1c1c;

   
 }

 .ubicacion{
    position: absolute;
    left: 150px;
    top: 50px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;

   
    
}
.celular{
    position: absolute;
    left: 200px;
    top: 50px;
    /* border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000; */
    
}

.chat{
    position: absolute;
    left: 150px;
    top: 50px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    
}

.fondoqien{
    width: 100%;
    background-image: url(../../../assets/image/quienesSomos.jpg);
}

.fodoproductos{
    background-color: #c90000;
}

.chat1{
    position: absolute;
    top: 160px;
    left: 165px;
    font-size: 15px;
    color: #c90000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.chat2{
    position: absolute;
    top: 180px;
    left: 152px;
    font-size: 15px;
    color: #c90000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.ubi1{
    position: absolute;
    top: 160px;
    left: 130px;
    font-size: 15px;
    color: #c90000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.ubi2{
    position: absolute;
    top: 180px;
    left: 105px;
    font-size: 15px;
    color: #c90000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.cel1{
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 15px;
    color: #c90000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.cel2{
    position: absolute;
    top: 220px;
    left: 200px;
    font-size: 15px;
    color: #c90000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
  
  