table {
    width: 1000px;
    
  }

.azulito{
  background-color:#c90000c7;
  font-size: 12px;

/* border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px; */
border: 0px solid #000000;
color: black;
height: 50px;

}

.paginator{

  background-color:#c90000c7;
  border-radius: 0px 0px 10px 10px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
border: 0px solid #000000;
font-size: 12px;
color: black;
size: 15px;
}