<div class="productos" >
    <p>hola mundo</p>
</div>

<div class="producto1"  *ngIf="StatusProduct==6">
    <p>todos</p>
</div>
<div class="producto2"  *ngIf="StatusProduct==7">
    <p>producto 1</p>
</div>
<div class="producto3"  *ngIf="StatusProduct==8">
    <p>producto 2</p>
</div>
<div class="producto4"  *ngIf="StatusProduct==9">
    <p>producto 3</p>
</div>
<div class="producto5"  *ngIf="StatusProduct==10">
    <p>producto 4</p>
</div>
<div class="producto6"  *ngIf="StatusProduct==11">
    <p>producto 5</p>
</div>
<div class="producto7"  *ngIf="StatusProduct==12">
    <p>producto 6</p>
</div>
