<div class="productos" >
    
</div>

<div class="producto1"  *ngIf="StatusProduct==6">
    <p>todos</p>
</div>
<div class="producto2"  *ngIf="StatusProduct==7" class="fondop1">
   
        <td>
            <div class="p1">
                <h1> Kit de memoria VENGEANCE® LPX 16GB (2x8GB) DRAM DDR4 a 3000 MHz C15 – Negro </h1>
                <p style="text-align: center;">La memoria Vengeance LPX se ha diseñado para overclocking de alto rendimiento. El disipador de calor, fabricado en aluminio puro, permite una disipación térmica más rápida; la placa impresa de ocho capas administra el calor y proporciona una capacidad superior para incrementar el overclocking.</p>
            </div>
        </td>
        <td>
            <div class="img1">
                <img src="assets/image/memoria.jpg" width="500px" >
            </div>
        </td>
    
</div>
<div class="producto3"  *ngIf="StatusProduct==8">
    <td>
        <div class="p2">
            <h1> STRAFE RGB MK.2 Mechanical Gaming Keyboard — CHERRY® MX Red (SP)</h1>
            <p>El teclado mecánico CORSAIR STRAFE RGB MK.2 de última generación incorpora interruptores 100 % CHERRY MX RGB y 8 MB de almacenamiento interno de perfiles para llevar sus perfiles de juegos donde quiera que vaya.</p>
        </div>
    </td>
    <td>
        <div class="img2">
            <img src="assets/image/teclado.jpg" width="500px" >
        </div>
    </td>
</div>
<div class="producto4"  *ngIf="StatusProduct==9">
    <td>
        <div class="p3">
            <h1> Sistema de enfriamiento líquido para CPU H55 de Hydro Series™</h1>
            <p>Hydro Series™ H55 es la fácil actualización del sistema de enfriamiento para su CPU Intel. El sistema de enfriamiento líquido integrado y eficaz es más silencioso y más eficiente que los ventiladores de los CPU, y el diseño compacto lo convierte en la opción ideal para las carcasas más pequeñas.</p>
        </div>
    </td>
    <td>
        <div class="img3">
            <img src="assets/image/refrigerante.jpg" width="500px" >
        </div>
    </td>
</div>
<div class="producto5"  *ngIf="StatusProduct==10">
    <td>
        <div class="p4">
            <h1> Fuente de alimentación certificada VS Series™ VS550 — 550 Watt 80 PLUS® blanca </h1>
            <p>CORSAIR VS Series combina potencia de eficiencia estable de 80 PLUS y los precios asequibles de las fuentes de alimentación para PC más fiables del mundo.</p>
        </div>
    </td>
    <td>
        <div class="img4">
            <img src="assets/image/fuente.jpg" width="500px" >
        </div>
    </td>
</div>
<div class="producto6"  *ngIf="StatusProduct==11">
    <td>
        <div class="p5">
            <h1> Ventilador RGB LED PWM con doble bucle de luz de 120 mm LL120 RGB, paquete sencillo </h1>
            <p>El ventilador CORSAIR LL120 RGB LED PWM incluye 16 LED RGB independientes repartidos en dos halos de luz que crean efectos visuales y de iluminación intensos.</p>
        </div>
    </td>
    <td>
        <div class="img5">
            <img src="assets/image/ventilador.jpg" width="500px" >
        </div>
    </td>
</div>
<div class="producto7"  *ngIf="StatusProduct==12">
    <td>
        <div class="p6">
            <h1> Chasis semitorre Carbide Series™ 270R ATX con ventana </h1>
            <p>Carbide Series™ 270R es compacto y se ha diseñado para crear sistemas de alto rendimiento con un diseño interno simplificado, opciones de refrigeración versátiles, capacidad de almacenamiento extensa y diseño limpio y minimalista.</p>
        </div>
    </td>
    <td>
        <div class="img6">
            <img src="assets/image/torre.jpg" width="300px" >
        </div>
    </td>
</div>
