<div class="contactenos">
    <p class="titulo">CON GUSTO ATENDEREMOS CUALQUIER INQUIETUD Y REQUERIMIENTO</p>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label style="color: black;">Nombre</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label style="color: black;">Empresa</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label style="color: black;">Email</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label style="color: black;">Telefono</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    
      
        <mat-form-field class="example-full-width">
          <mat-label style="color: black;">Escribe tu mensaje</mat-label>
          <textarea matInput placeholder=""></textarea>
        </mat-form-field>
      </form>

      <img src="https://i.ibb.co/qjfjVfb/logo-empresa.png" class="cimg">
</div>
