
<div style="background-color: coral; background: cornflowerblue;">
    <h1 class="letra1" > Nos presentamos... </h1>
    <p class="letra2">ShadowGear es una empresa experta en tecnología que ayuda a la transformación digital de las ciudades, la industria y los negocios.

        Proporcionamos servicios relacionados con las Tecnologías de la Información (TI) y estamos especializados en la implementación y puesta en marcha de soluciones en el ámbito del Internet de las Cosas (IoT).
        
        Disponemos de un centro de desarrollo especializado en Colombia y una oficina de gestión de proyectos en Bogota D.C, para servir de manera eficientes a nuestros clientes de toda Europa.
        
        Nuestra experiencia es de más de 3 años trabajando con éxito para más de 50 clientes repartidos por todo Colombia. Contamos con profesionales altamente especializados en consultoría, desarrollo y gestión de proyectos tecnológicos.
    </p>
    <img src="../../../assets/image/quienes.jpg" class="somos">

   
</div>
